.gx-sidebar-notifications {
  padding: unset !important;
}

.icon-trash {
  color: #666 !important;
  font-size: 18px;
}

.icon-trash:hover {
  color: red !important;
}

.icon-feedback {
  color: #666 !important;
  font-size: 20px;
}

.icon-feedback:hover {
  color: #3cbb5e !important;
}

.icon-email {
  color: #666 !important;
  font-size: 18px;
}

.icon-email:hover {
  color: #038fde !important;
}

.icon-check-circle-o {
  font-size: 18px;
  color: #666 !important;
  cursor: pointer;
}

.icon-close-circle {
  font-size: 18px;
  color: #666 !important;
  cursor: pointer;
}

.icon-check-circle-o:hover {
  color: #3cbb5e !important;
  cursor: unset !important;
}
.not-primary-plan {
  color: red !important;
  cursor: unset !important;

}
.icon-close-circle:hover {
  color: red !important;
}

.gx-link:hover,
.gxLlink:hover {
  text-decoration: underline;
}

.ant-input[type="color"] {
  width: 50px;
}

.gx-mb-4 {
  margin-top: 1.5rem;
}

.rc-color-picker-wrap {
  width: 50px;
  cursor: pointer !important;
}

.colour-picker {
  cursor: pointer;
}

.ant-form-horizontal .ant-row:last-child {
  float: right;
}

@media (min-width: 995px) {
  .ant-form-horizontal .ant-row {
    margin-left: -100px !important;
  }
}

.ant-layout-sider .ant-menu .ant-menu-submenu .ant-menu-submenu-title .icon,
.ant-drawer .ant-menu .ant-menu-submenu .ant-menu-submenu-title .icon,
.ant-layout-sider .ant-menu .ant-menu-item .icon,
.ant-drawer .ant-menu .ant-menu-item .icon {
  font-size: unset !important;
}

.ant-layout-sider .ant-menu-vertical .ant-menu-item,
.ant-layout-sider .ant-menu-vertical-left .ant-menu-item,
.ant-layout-sider .ant-menu-vertical-right .ant-menu-item,
.ant-layout-sider .ant-menu-inline .ant-menu-item,
.ant-layout-sider .ant-menu-vertical .ant-menu-submenu-title,
.ant-layout-sider .ant-menu-vertical-left .ant-menu-submenu-title,
.ant-layout-sider .ant-menu-vertical-right .ant-menu-submenu-title,
.ant-layout-sider .ant-menu-inline .ant-menu-submenu-title,
.ant-drawer .ant-menu-vertical .ant-menu-item,
.ant-drawer .ant-menu-vertical-left .ant-menu-item,
.ant-drawer .ant-menu-vertical-right .ant-menu-item,
.ant-drawer .ant-menu-inline .ant-menu-item,
.ant-drawer .ant-menu-vertical .ant-menu-submenu-title,
.ant-drawer .ant-menu-vertical-left .ant-menu-submenu-title,
.ant-drawer .ant-menu-vertical-right .ant-menu-submenu-title,
.ant-drawer .ant-menu-inline .ant-menu-submenu-title {
  height: 35px !important;
}

.ant-layout-sider-collapsed .gx-layout-sider-header .profile-photo {
  display: none;
}

.ant-menu-dark .ant-menu-item>a {
  color: #fff !important;
}

.ant-table-thead>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td,
.ant-table-tbody>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td,
.ant-table-thead>tr:hover:not(.ant-table-expanded-row)>td,
.ant-table-tbody>tr:hover:not(.ant-table-expanded-row)>td {
  background: rgb(235, 233, 233) !important;
}

.ant-table-thead>tr>th {
  background-color: #272727 !important;

  color: #fff !important;
}

.ant-table-tbody>tr {
  background: #fff;
}

.ant-table-thead>tr,
.ant-table-tbody>tr {
  border: 1px solid #e9e9e9 !important;
  border-radius: 2px;
}

.ant-table-thead>tr,
.ant-table-tbody>tr>td {
  border-bottom: unset !important;

}

.ant-btn .ant-btn-primary {
  background-color: #272727 !important;
}

.ant-btn .ant-btn-primary:focus {
  background-color: #272727 !important;

}

.ant-btn .ant-btn-primary:hover {
  background-color: #272727 !important;

}

a,
.gx-link {
  color: #038fde !important;
}

.ant-select-dropdown-menu-item {
  background: #fff !important;
}

.ant-select-dropdown-menu-item:hover {
  background: rgb(223, 223, 223) !important;
}

.ant-input:focus {
  border-color: unset !important;
  border-right-width: red !important;
}

.ant-input:hover {
  border-color: unset !important;
  border-right-width: red !important;
}

.gx-card,
.gx-table-responsive,
.last-posts-table,
.gx-app-login-wrap {
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.gx-module-nav li span {
  color: #59627f;
}
.primary-plan{
  color: #3cbb5e !important;
}
.gx-module-nav li i {
  color: black;
}
.ant-layout-sider-children a, .ant-menu a, .ant-menu-lite a ,.ant-menu-root a, .ant-menu-inline a {
  color: #545454 !important;
}

.ant-menu-item-active {
  background-color:#c5c5c5 !important;
  border-right: 6px solid #636363;
}
.full-layout{
  overflow: unset;
}
.thumb--image {
  width: 100px;
  height: auto !important;
}